<p id="notice"><%= notice %></p>

<!-- Page Content -->
<div class="container">
  <div class="row justify-content-center">
    <% product_tsvs.each do |product_tsv| %>
      <div class="col-xl-3 col-md-6 d-flex align-items-sm-stretch mb-4">
        <div class="card border-0 shadow">
          <img src="https://picsum.photos/seed/<%= rand(500) %>/300/150" class="loading card-img-top" alt="...">
          <div class="card-body text-center">
            <h6 class="card-title mb-0 text-black-50"><%= product_tsv.product.title %></h6>
            <div class="card-text text-black-50">
              <b>Description: </b>
              <%= product_tsv.product.description %>
            </div>
            <div class="card-text text-black-50">
              <b>Country: </b>
              <%= product_tsv.product.country %>
            </div>
            <div class="card-text text-black-50 font-weight-bold">Price: $<%= product_tsv.product.price %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center">
    <% if show_pagination %>
      <%= paginate product_tsvs, remote: true %>
    <% end %>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
