<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <%= link_to 'Spocket Challenge', root_path, class: 'navbar-brand'  %>
    <%= link_to 'About', root_path, role: 'button', class: 'btn btn-primary'  %>
  </div>
</nav>