<%= form_tag(product_tsvs_path, method: :get, remote: true) do %>
  <div class="row">
    <div class="col-12 mb-2">
      <%= text_field_tag :search, '', class: 'form-control form-control-lg', placeholder: 'Search for a product...' %>
    </div>
    <%= button_tag 'Search', class: 'btn btn-block btn-lg btn-primary', id: 'search-button', hidden: '' %>
    <div class="col-md-12 mt-1">
      <p>
        <%= link_to 'More search options',
                    'javascript:;',
                    class: 'btn btn-sm btn-light',
                    data: {toggle: 'collapse'},
                    href: '#collapseExample',
                    role: 'button',
                    aria: {expanded: false, controls: 'collapseExample'} %>
      </p>
    </div>
  </div>

  <div class="collapse text-black-50" id="collapseExample">
    <div class="row">
      <div class="col-md-4">
        <h6>Price range</h6>
        <%= select_tag 'price_range', options_for_select(@price_ranges, @price_ranges.first), class: 'form-control form-control-sm' %>
        <%= text_field_tag :price, '', class: 'form-control form-control-sm mt-1', placeholder: 'Enter price...', type: 'number', step: '0.01' %>
      </div>
      <div class="col-md-4">
        <h6>Origin coutry</h6>
        <%= select_tag 'country', options_for_select(@countries, @countries.last), class: 'form-control form-control-sm' %>
      </div>
      <div class="col-md-4">
        <h6>Sort By</h6>
        <%= select_tag 'sort_by', options_for_select(@sort_types, @sort_types.first), class: 'form-control form-control-sm' %>
        <div class="mt-2">
          <%= link_to 'Clear Filters', 'javascript:;', onclick: 'clearSearchOptions()' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
    function clearSearchOptions() {
        $('input[name=price]').val('');

        $('select[name=price_range]').val('none');

        $('select[name=country]').val('All');

        $('select[name=sort_by').val('none');

        $("#spinner-search").show();

        $('#search-button').click();
    }
</script>