<header class="masthead text-white text-center mt-3">
  <div class="overlay"></div>
  <div class="container mb-6">
    <div class="row">
      <div class="col-lg-12">
        <%= render 'home/search_form' %>
      </div>
    </div>
  </div>

  <div id="products-div">
    <%= render 'product_tsvs/index', show_pagination: true, product_tsvs: @product_tsvs %>
  </div>
</header>