<p id="notice"><%= notice %></p>

<!-- Page Content -->
<div class="container align-content-center">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="https://picsum.photos/seed/<%= rand(500) %>/500/350" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0"><%= product.title %></h5>
            <div class="card-text text-black-50"><%= product.description %></div>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @products, remote: true %>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
